/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
   
    background-image: url(pexels-ithalu-907485.jpg);
    background-repeat: no-repeat;
   
}

.img1{
      height: 300px;
      width: 400px;
   background-image: url("partes-circuitos-electricos.jpg");
   background-repeat: no-repeat;
   float: left;
}
.titulo{
    font-size: 50px;
    text-align: center;
    color: rgb(150, 69, 226);
    

}

.img1{
    height: 300px;
    width: 400px;
   background-image: url("transtornos alimenticios");


}

.progesterona{
height: 500px;
width: 800px;
background-image: url(progesterona.jpg);

}

.Fasesdelciclomenstrual{
height: 500px;
width: 1500px;
background-image: url(fases-ciclo-menstrual.jpg);

}

.fasefolicularciclomenstrual{
height: 500px;
width: 400px;
background-image: url(fase-folicular-ciclo-menstrual.jpg);

}

.desarrollofolicular{
height: 500px;
width: 650px;
background-image: url(desarrollo-folicular-y-dia-de-ciclo1-670x285.jpg);

}

.endometrio{
height: 500px;
width: 700px;
background-image: url(endometrio-en-el-ciclo-menstrual-670x285.jpg);

}

.faseisquemica{
height: 500px;
width: 800px;
background-image: url(fase-isquemica-ciclo-menstrual.heic);

}

.sintomasciclomenstrual{
height: 500px;
width: 3000px;
background-image: url(sintomasfasesciclo-menstrual.jpg)

}

.colordesangrado{
height: 500px;
width: 750px;
background-image: url(color-de-la-menstruacion.jpg)

}

.anorexia{
height: 500px;
width: 400px;
background-image: url(anorexia.jpg);

}

.fecundacion{
height: 350px;
width: 750px;
background-image: url(fecundacion.jpg);

}

.cigoto{
height: 140px;
width: 360px;
background-image: url(cigoto.jpeg);

}

.morula{
height: 200px;
width: 200px;
background-image: url(morula.jpeg);

}

.blastocito{
height: 200px;
width: 250px;
background-image: url(blastocito.jpeg);

}

.gastrula{
height: 200px;
width: 200px;
background-image: url(gastrula.jpeg);

}

.embrion{
height: 150px;
width: 150px;
background-image: url(embrion.jpg);

}

.feto{
height: 250px;
width: 400px;
background-image: url(feto.jpg);

}

.suma{
height: 120px;
width: 300px;
background-image: url(excel.jpg);

}

.promedio{
height: 120px;
width: 450px;
background-image: url(promedio.png);

}

.min{
height: 250px;
width: 400px;
background-image: url(min.png);

}

.max{
height: 250px;
width: 400px;
background-image: url(max.png);

}

.contar{
height: 200px;
width: 450px;
background-image: url(contar.jpg);

}

.redondear{
height: 170px;
width: 400px;
background-image: url(redondear.png);

}

.cadena{
height: 150px;
width: 400px;
background-image: url(cadena.png);

}

.izquierda{
height: 120px;
width: 360px;
background-image: url(izquierda.png);

}

.derecha{
height: 150px;
width: 480px;
background-image: url(derecha1.png);

}

.extrae{
height: 300px;
width: 650px;
background-image: url(extrae.jpg);

}

.largo{
height: 130px;
width: 400px;
background-image: url(largo.png);

}

.mayus{
height: 400px;
width: 500px;
background-image: url(mayus.png);

}

.sisa{
height: 140px;
width: 280px;
background-image: url(sisas.png);

}

.y{
height: 150px;
width: 300px;
background-image: url(perro.jpeg);

}

.o{
height: 300px;
width: 500px;
background-image: url(oso.png);

}

.no{
height: 200px;
width: 250px;
background-image: url(never.png);

}

.hoy{
height: 100px;
width: 200px;
background-image: url(hoy.png);

}

.ahora{
height: 140px;
width: 350px;
background-image: url(ahora.png);

}

.dia{
height: 110px;
width: 300px;
background-image: url(dia.png);

}

.mes{
height: 200px;
width: 400px;
background-image: url(mes.webp);

}

.año{
height: 120px;
width: 300px;
background-image: url(año.png);

}

.fecha{
height: 180px;
width: 280px;
background-image: url(fecha.jpeg);

}

.juan{
height: 200px;
width: 450px;
background-image: url(buscar.png);

}

.negro{
height: 350px;
width: 450px;
background-image: url(mono.png);

}

.muerta{
height: 200px;
width: 300px;
background-image: url(regla.jpg);

}
.sofi{
height: 300px;
width: 400px;
background-image: url(mango.jpg);

}

.mora{
height: 200px;
width: 300px;
background-image: url(descarga.png);

}

.mulas{
height: 300px;
width: 400px;
background-image: url(fotos.avif);

}

.mocos{
height: 190px;
width: 300px;
background-image: url(furgon.png);

}

.borrador{
height: 150px;
width: 440px;
background-image: url(borrador.png);

}

.atomo{
height: 400px;
width: 640px;
background-image: url(atomos.webp)

}

.sodio{
height: 280px;
width: 280px;
background-image: url(sodio.jpg);

}

.cloro{
height: 380px;
width: 390px;
background-image: url(cloro.jpg);

}

.junto{
height: 250px;
width: 680px;
background-image: url(juntos.jpg);

}

.polar{
height: 500px;
width: 1000px;
background-image: url(polar.jpg);

}

.no{
height: 200px;
width: 250px;
background-image: url(no\ polar.jpg);

}

.london{
height: 180px;
width: 320px;
background-image: url(london.jpg);

}

.hidrogeno{
height: 400px;
width: 750px;
background-image: url(enlace.png);

}

.binomio{
height: 500px;
width: 800px;
background-image: url(cuadradito.webp);

}

.dos{
height: 800px;
width: 1200px;
background-image: url(dos.jpg);

}

.sumas{
height: 150px;
width: 340px;
background-image: url(sumita.jpg);

}

.terminos{
    height: 200px;
    width: 240px;
    background-image: url(comun.png)

}

.perfecto{
    height: 500px;
    width: 610px;
    background-image: url(notable.jpg) 
}

.trinomio{
    height: 400px;
    width: 510px;
    background-image: url(forma.jpg)
}

.meno{
    height: 700px;
    width: 1500px;
    background-image: url(diferencia.jpg)
}

.nico{
    height: 170px;
    width: 300px;
    background-image: url(nicol.png)  
}

.simple{
    height: 400px;
    width: 500px;
    background-image: url(NICOL.webp)
}

.sip{
    height: 160px;
    width: 230px;
    background-image:url(ISA.jpg) 
}

.mono{
    height: 300px;
    width: 500px;
    background-image: url(monoss.jpg)
}
   
.suaza{
height: 600px;
width: 900px;
background-image: url(sopass.jpg);

}
.muerda{
height: 200px;
width: 270px;
background-image: url( sebastian.jpg);

}

.mosca{

height: 240px;
width: 200px;
background-image: url(imagenesta.jpg);

}

.medellin{

height: 200px;
width: 190px;
background-image: url(mushasha.jpg);

}

.never{
    height: 200px;
    width: 190px;
    background-image: url(sapis.png) 
}