/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
   
    background-image: url(negra.jpg);
    background-repeat: no-repeat;
   
}

.img1{
      height: 300px;
      width: 400px;
   background-image: url("partes-circuitos-electricos.jpg");
   background-repeat: no-repeat;
   float: left;
}
.titulo{
    font-size: 50px;
    text-align: center;
    color: rgb(150, 69, 226);
    

}

.img1{
    height: 300px;
    width: 400px;
   background-image: url("transtornos alimenticios");


}

.progesterona{
height: 500px;
width: 800px;
background-image: url(progesterona.jpg);

}

.Fasesdelciclomenstrual{
height: 500px;
width: 1500px;
background-image: url(fases-ciclo-menstrual.jpg);

}

.fasefolicularciclomenstrual{
height: 500px;
width: 400px;
background-image: url(fase-folicular-ciclo-menstrual.jpg);

}

.desarrollofolicular{
height: 500px;
width: 650px;
background-image: url(desarrollo-folicular-y-dia-de-ciclo1-670x285.jpg);

}

.endometrio{
height: 500px;
width: 700px;
background-image: url(endometrio-en-el-ciclo-menstrual-670x285.jpg);

}

.faseisquemica{
height: 500px;
width: 800px;
background-image: url(fase-isquemica-ciclo-menstrual.heic);

}

.sintomasciclomenstrual{
height: 500px;
width: 3000px;
background-image: url(sintomasfasesciclo-menstrual.jpg)

}

.colordesangrado{
height: 500px;
width: 750px;
background-image: url(color-de-la-menstruacion.jpg)

}

.anorexia{
height: 500px;
width: 400px;
background-image: url(anorexia.jpg);

}