.contenedor{
    width: 1400px;
    height: 150px;
    background-color: rgb(255, 0, 64);
    font-size: 100px;
    }
    
    .Tecnologia {
        width: 1400px;
        height: 400px;
        background-color: rgb(210, 255, 127);
    }
    
    .biologia {
    width: 1400px;
    height: 400px;
    background-color: rgb(160, 99, 95);
    }
    
    .quimica {
    width: 1400px;
    height: 400px;
    background-color: rgb(25, 0, 255);
    }
    
    .matematicas {
    width: 1400px;
    height: 730px;
    background-color: rgb(208, 255, 0);
    }
    
    .ingles {
    width: 1400px;
    height: 400px;
    background-color: rgb(238, 144, 222);
    }